<?xml version="1.0"?>
<launch>
  <node name="apu_identify_case_node" pkg="apu_medication_support" type="identify_case" output="screen">
    <param name="threshold_calendar" value="0.01"/> <!--値が小さいほど平面の条件が小さくなる-->
    <param name="calendar_number_neighbors" value="200"/>
    <param name="cluster_tolerance" value="0.01"/>
    <param name="max_cluster_size" value="100000"/>
    <param name="min_cluster_size" value="50000"/>
    <param name="threshold_case" value="0.012"/>
    <param name="case_number_neighbors" value="50"/>
    <param name="case_cluster_tolerance" value="0.01"/>
    <param name="max_case_cluster_size" value="1100"/>
    <param name="min_case_cluster_size" value="200"/>
    <param name="st_x" value="0.075"/>
    <param name="st_y" value="0.06"/>
    <param name="st_z" value="0.035"/>
    <param name="set_week" value="3"/>
    <param name="set_time" value="12"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find apu_medication_support)/rviz/carry_case.rviz" required="true" output="screen" />
  <rosparam command="load" file="$(find apu_medication_support)/config/r203/locations.yaml" ns="r203" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="medicine_calendar" args="/r203/medicine_calendar"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="table_side" args="/r203/table_side"/>
  <node pkg="apu_medication_support" name="apu_carry_case_node" type="carry_case.py" />
</launch>
