<?xml version="1.0"?>
<launch>
  <!--<node pkg="rosbag" type="play" name="play" args="- -clock -l $(find medicine_calendar)/bag/identify_case.bag"/>-->
  <node name="identify_case" pkg="medicine_calendar" type="identify_case" output="screen">
    <param name="threshold_calendar" value="0.008"/> <!--値が小さいほど平面の条件が小さくなる-->
    <param name="calendar_number_neighbors" value="200"/>
    <param name="threshold_case" value="0.013"/>
    <param name="case_number_neighbors" value="50"/>
    <param name="cluster_tolerance" value="0.01"/>
    <param name="max_cluster_size" value="1100"/>
    <param name="min_cluster_size" value="300"/>
    <param name="st_x" value="0.075"/>
    <param name="st_y" value="0.06"/>
    <param name="st_z" value="0.035"/>
    <param name="set_week" value="4"/>
    <param name="set_time" value="8"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find medicine_calendar)/rviz/sample.rviz" required="true" output="screen" />
  <rosparam command="load" file="$(find medicine_calendar)/config/locations.yaml" ns="medi_calendar" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="medicine_calendar" args="/medi_calendar/medicine_calendar"/>
</launch>
