<?xml version="1.0"?>
<launch>
  <node pkg="rosbag" type="play" name="play" args="--clock -l $(find medicine_calendar)/bag/medicine_calendar.bag"/>
  <node name="medicine_calendar_pcl" pkg="medicine_calendar" type="medicine_calendar_pcl" output="screen">
    <param name="threshold_plane" value="0.02"/>
    <param name="cluster_tolerance" value="0.01"/>
    <param name="seddev_multhresh" value="1.0"/>
    <param name="number_neighbors" value="20"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find medicine_calendar)/rviz/medicine_calendar.rviz" required="true" output="screen" />
</launch>
