<?xml version="1.0"?>
<launch>
  <!--<param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="play" output="screen" args="- -clock -l -q $(find apu_medication_support)/bag/calendar_mv.bag"/>-->

  <!--
  realsens用
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <param name="/camera/realsense2_camera/filters" value="pointcloud"/>
    <arg name="filters"  value="pointcloud"/>
    <arg name="color_width" value="640"/>
    <arg name="color_height" value="480"/>
    <arg name="color_fps" value="30"/>
  </include>
-->

<node name="apu_identify_calendar_node" pkg="apu_medication_support" type="identify_calendar" output="screen">
  <param name="first_plane_segmentation_threshold" value="0.005"/> <!--値が小さいほど平面の条件が小さくなる-->
  <param name="outlier_removal_number_neighbors_wall" value="300"/>
  <param name="outlier_removal_th_wall" value="0.001"/>
  <param name="cluster_tolerance" value="0.006"/>
  <param name="max_cluster_size" value="60000"/>
  <param name="min_cluster_size" value="10000"/>
  <param name="outlier_removal_number_neighbors_calendar" value="1"/>
  <param name="outlier_removal_th_calendar" value="1"/>
  <param name="x_base" value="0.045"/>
  <param name="y_base" value="0.07"/>
  <param name="x_interval" value="0.083"/>
  <param name="y_interval" value="0.073"/>
  <param name="set_week" value="5"/>
  <param name="set_time" value="8"/>
</node>

  <node name="apu_transparent_detection_node" pkg="apu_medication_support" type="transparent_detection" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find apu_medication_support)/rviz/transparent.rviz" required="true" output="screen" />
</launch>
